*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 20px 10px;
}
.skills{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 150px;
}


 